.error-bg {
    background: #ffcccc;
}
.error {
    color: red;
}
.field-error {
    color: red;
    font-size: 90%;
}
.success {
    color: green;
}

.center {
    margin: 0 auto;
    width: 50%;
}
.center-text {
    text-align: center;
}

#menu {
    border-bottom: 1px solid #ccc;
}
#content {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
