{% extends "main.twig" %}

{% block content_title %}<h4>CO2</h4>{% endblock %}

{% block content %}
  <div id="co2ChartContainer" class="center-text">
    <canvas id="co2Chart"></canvas> 
  </div>

  <script>
    var co2Chart = createCo2Chart("co2Chart");
    co2ChartUpdate(co2Chart, "{{ dataUrl }}", $("#co2ChartContainer"));

    function co2SetFormAction(form, from, to) {
        form.action = "{{ base_path() }}/" + from + "/" + to;
        return true;
    }
  </script> 

  <form class="pure-form" method="get" onsubmit="return co2SetFormAction(this, $('#from').val(), $('#to').val());">
    <fieldset>
      <legend>Период</legend>
      <input type="text" id="from" placeholder="С" value="{{ from }}"/>
      <input type="text" id="to" placeholder="По"  value="{{ to }}"/>
      <button type="submit" class="pure-button pure-button-primary">Показать</button>
    </fieldset>
  </form>

  <script type="text/javascript">
    $('#from').datetimepicker({format:'Y-m-d H:i'});
    $('#to').datetimepicker({format:'Y-m-d H:i'});
  </script>
{% endblock %}
