{% extends "main.twig" %}

{% block content_title %}<h4>CO2</h4>{% endblock %}

{% block content %}
  <div class="center-text">
    <canvas id="co2Chart"></canvas> 
  </div> 
  <script> 
    var co2Chart = createCo2chart("co2Chart"); 
    co2chartUpdate("data/", co2Chart); 
  </script> 
{% endblock %}
