<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="/static/assets/purecss/build/pure.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>

    <script src="/static/assets/moment/moment.js"></script>
    <script src="/static/assets/chart.js/dist/Chart.js"></script>
    <script src="/static/assets/jquery/dist/jquery.min.js"></script>
    <script src="/static/js/co2.js"></script>

    <title>CO2</title>
  </head>
  <body>
    <div class="pure-g">
      <div class="pure-u-1">
	<h3 class="center-text">CO2</h3>
      </div>
      <div id="menu" class="pure-u-1">
	<div class="pure-menu pure-menu-horizontal">
	  <ul class="pure-menu-list">
	    {# <li class="pure-menu-item"> #}
	    {#   <a href="{{ path_for('main') }}" class="pure-menu-link">Запрос</a> #}
	    {# </li> #}
	    {# <li class="pure-menu-item"> #}
	    {#   <a href="{{ path_for('logs', {} , {'sort':{'c':'time', 'o':'desc'}}) }}" class="pure-menu-link">Логи</a> #}
	    {# </li> #}
	    {# <li class="pure-menu-item"> #}
	    {#   <a href="{{ path_for('templates', {}, {'sort':{'c':'id', 'o':'asc'}}) }}" class="pure-menu-link">Шаблоны</a> #}
	    {# </li> #}
	  </ul>
	</div>
      </div>
      <div class="pure-u-1">
	<div class="center-text">
	  {% block content_title %}{% endblock %}
	</div>
      </div>
      <div class="pure-u-1">
	<div id="content" class="pure-g">
	  <div class="pure-u-1">
	    {% block content %} {% endblock %}
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
